<!-- Data in modal -->
<ngx-smart-modal #elemAddModal identifier="elemAddModal" customClass="nsm-dialog-animation-ltr">
  <div class="modal-header">
    <h4 class="modal-title">{{formData.copyid == undefined ? 'ADD NEW':'COPY' }} ELEMENT PROFILE </h4>

  </div>
  <div class="modal-body">
    <form novalidate>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" name="txtrow" [(ngModel)]="formData.elemName" aria-describedby="elemHelpBlock"
              placeholder="Element Name..">
            <small id="elemHelpBlock" class="form-text text-muted">
              This profile name may be 4-25 characters long, contain letters, numbers and/or hypens, but must not
              contain spaces, special characters, or emoji.
            </small>
          </div>
        </div>
      </div>
      <div class="form-row">

        <div class="col">
          <div class="form-group">
            <select name="txtloc" class="form-control" [(ngModel)]="formData.typeSelected" required>
              <option [ngValue]="undefined" disabled selected>Please select an Element Type </option>
              <option *ngFor="let c of formData.typeList" [ngValue]="c">{{c}}</option>
            </select>
          </div>
        </div>

      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="no()">Close</button>
    <button type="button" class="btn btn-outline-success" (click)="add()">{{formData.copyid == undefined ? 'Add New':'Copy' }} Element</button>
  </div>
</ngx-smart-modal>
